@import '~@fluentui/react/dist/sass/References.scss';

.attachmentItem {
  padding: 12px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  background-color: #ffffff;
  transition: all 0.2s ease-in-out;

  &:hover {
    border-color: #c7e0f4;
    background-color: #f3f9ff;
  }
}
